/* src/StyleAdminInicio.css */

body {
    background-image: url('../imagenes/fondo.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

    .admininicio {
        margin-left: 200px; /* Este margen hace que el contenido se desplace hacia la derecha */
        padding: 20px; /* Puedes agregar un poco de padding si lo deseas */
        background: url('../imagenes/fondo.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
    }

.admin-container {
    display: flex;
    height: 100vh;
}

.dashboard {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.dashboard ul {
    list-style: none;
    padding: 0;
}

.dashboard li {
    margin: 20px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.dashboard li:hover {
    background-color: white;
    color: black;
}

.dashboard li a {
    color: white;
    text-decoration: none;
}

.form-libro input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

.form-libro button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-libro button:hover {
    background-color: #45a049;
}

.tabla-libros {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de la tabla */
    overflow: auto;
    max-height: 400px; /* Altura máxima de la tabla */
}

.tabla-libros th, .tabla-libros td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Borde en la parte inferior */
    border-right: 1px solid #ddd; /* Borde a la derecha */
}

.tabla-libros th {
    background-color: #4CAF50; /* Color de fondo de las cabeceras */
    color: white;
}

.tabla-libros tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para las filas pares */
}

.tabla-libros tbody tr:hover {
    background-color: #ddd; /* Fondo gris claro al pasar el cursor sobre las filas */
}

/* Hacer que la tabla sea desplazable si es muy grande */
.admin-container {
    max-width: 100%;
    overflow-x: auto;
}
